/* Text Elements */

h1.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
  font-family: 'Nunito', cursive;
}

h1 sup.heading-text-3 {
  color: rgba(255, 255, 255, .69);
  font-style: italic;
}

h2.page-title {
  margin-right: 3px;
  margin-left: 3px;
  color: #c978f0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 9vw;
  font-family: 'Roboto Condensed', cursive;
}

h2.trigger {
  color: #fff;
}

h2.motion {
  color: #fff;
}

h2 span.heading-text-1 {
  color: #c978f0;
}

h2 span.heading-text-2 {
  color: #2adff1;
}

h2.motion.page-title {
  font-style: italic;
}

h4.detail-header {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 32px;
  font-family: 'PT Sans', cursive;
}

h4.sub-header {
  color: #fff;
  font-size: 24px;
}

h4.beta-invite {
  margin-bottom: 0;
  color: rgba(164, 164, 164, .87);
  text-align: left;
  font-size: 22px;
  font-family: 'PT Sans', cursive;
}

h6.pages-header {
  color: rgba(255, 255, 255, .87);
  font-family: 'PT Sans', cursive;
}

h6.pane-details-header {
  margin-top: 7px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, .87);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'PT Sans', cursive;
}

p.paragraph.paragraph-1 {
  color: rgba(255, 255, 255, .87);
}

p.paragraph.subscribe-header {
  margin-top: 2px;
  max-width: 660px;
  color: rgba(255, 255, 255, .87);
  text-align: left;
  font-size: 17px;
  font-family: 'Roboto', cursive;
}

p.paragraph {
  color: rgba(255, 255, 255, .87);
  font-family: 'Roboto', cursive;
}

p.paragraph.paragraph-2 {
  margin-bottom: 40px;
  text-align: center;
}

span.text-element.text-1 {
  color: rgba(255, 255, 255, .87);
  font-size: 15px;
}

span.text-element span.text-text-1 {
  font-style: italic;
}

span.text-element.animation-step {
  position: relative;
  font-size: 17px;
  font-family: 'Roboto', cursive;
}

span.text-element.step-header {
  position: absolute;
  top: -30px;
  right: 0;
  bottom: auto;
  left: 0;
  padding-left: 3px;
  color: rgba(255, 255, 255, .2);
  text-align: center;
  font-weight: 800;
  font-size: 74px;
  line-height: 1;
}

span.text-element span.animation-color {
  background-color: transparent;
  color: #dcb0f1;
}

span.text-element span.trigger-color {
  color: #2adff1;
}

span.text-element.step-3 {
  color: rgba(61, 191, 41, .31);
}

span.text-element.step-4 {
  color: #2c7421;
}

span.text-element.step-5 {
  color: #3fff00;
}

span.text-element.step-1 {
  color: rgba(102, 137, 106, .24);
}

span.text-element.step-2 {
  color: #2f432c;
}

span.text-element.step-5.step-header {
  color: #359f12;
}

span.text-element.sub-slogan {
  color: rgba(255, 255, 255, .87);
  font-size: 15px;
  font-family: 'Roboto', cursive;
}

span.text-element.text-2 {
  margin-top: 40px;
  margin-bottom: 10px;
  color: rgba(183, 183, 183, .87);
  text-align: center;
}

span.text-element.code-snippet {
  color: rgba(34, 212, 65, .87);
  font-family: Consolas, monaco, monospace;
}

span.text-element.copy-code {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #e6dcdc;
  color: rgba(0, 0, 0, .87);
  font-size: 16px;
  font-family: 'Roboto', cursive;
}

span.text-element.page-id {
  color: #ccd5ce;
  font-family: Consolas, monaco, monospace;
}

span.text-element.beta-phase {
  color: rgba(255, 255, 255, .87);
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', cursive;
}

span.text-element.phase-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 30px;
  font-family: 'Roboto Slab', cursive;
}

span.text-element.centered.sub-slogan {
  margin-top: 2px;
  text-align: center;
}

span.text-element.copy-code:active {
  background-color: #969696;
}

/* Interaction Elements */

a.link-button.getin-btn {
  display: inline-block;
  margin-right: auto;
  padding: 12px 20px;
  border: .0625rem solid #c978f0;
  border-radius: 3px;
  background-color: #2adff1;
  color: #5f3971;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Roboto', cursive;
}

input[type=email].email-1 {
  color: #ebebeb;
  font-family: 'Roboto', cursive;
}

label.label.label-1 {
  color: #2adff1;
  font-size: 20px;
  font-family: 'PT Sans', cursive;
}

/* Layout Elements */

body.body-1 {
  background-color: #000;
}

.container-grid.page-title-component {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container-grid.hero-section {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40vh;
}

div.responsive-picture.hero-image {
  max-width: none;
  border: .0625rem solid #2c2c2c;
  border-radius: 3px;
}

.container-grid.hero-image-component {
  position: relative;
  -webkit-transform: translateX(-10%);
     -moz-transform: translateX(-10%);
       -o-transform: translateX(-10%);
          transform: translateX(-10%);
}

.container-grid.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: end;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, .1);

  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.header-section {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  padding: 20px 10px;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.container-grid.detail-section {
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px;
  max-width: 90%;
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, .87);
  text-align: center;
}

.container-grid.animation-step {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: end;
  -ms-flex-align: end;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 400px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
}

.container-grid.animation-steps-list {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

span.glyph.animation-step {
  padding-right: 4px;
  padding-bottom: 4px;
  color: rgba(255, 255, 255, .3);
  font-size: 24px;
  line-height: 0;
}

span.glyph.animation-step i {
  font-size: 24px;
}

.container-grid.step-content {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: end;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end;
}

button.btn {
  padding: 6px 20px;
  height: auto;
  border: .0625rem solid #dfb1f6;
  border-radius: 4px;
  background-color: rgba(201, 120, 240, .2);
  color: #2adff1;
  letter-spacing: 1px;
  font-family: 'Roboto', cursive;
}

.container-grid.account-management {
  padding-right: 20px;
  padding-left: 20px;
}

li.list-item {
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgba(255, 255, 255, .87);
  line-height: 1.3;
}

.container-grid.signup {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 800px;
}

.container-grid.account-settings {
  padding-right: 20px;
  padding-left: 20px;
}

.container-grid.register-domain {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 0;
  padding-left: 0;
}

.container-grid.code-snipper-component {
  margin-bottom: 60px;
}

.container-grid.page-component {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  margin-top: 20px;
  padding: 20px;
  border: .0625rem solid rgba(42, 223, 241, .37);
  border-radius: 3px;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

button.app-launch.btn {
  padding: 4px 14px;
  border-color: rgba(223, 177, 246, .56);
}

.container-grid.signup-component {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  min-height: 90vh;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.start-component {
  margin-bottom: 40px;
}

.container-grid.beta-phase {
  margin-top: 20px;
}

div.responsive-picture.pane-detail {
  margin: 10px;
  max-width: 360px;
  border-radius: 5px;
}

.container-grid.app-overview {
  padding-right: 20px;
  padding-left: 20px;
}

div.responsive-picture.small-detail {
  max-width: 200px;
}

div.responsive-picture.medium-detail {
  max-width: 280px;
}

.container-grid.detail-intro {
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 10px;
}

@supports (display: grid) {
  .container-grid.app-overview {
    display: grid;
    -ms-flex-align: center;

    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , auto);
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    grid-column-gap: 10px;
  }
}

@media screen and (min-width: 37.5625rem) {
  /* Text Elements */

  h1.heading-2 {
    font-size: 25px;
  }

  h2.page-title {
    font-size: 60px;
    font-family: 'Roboto Condensed', cursive;
  }

  h4.detail-header.sub-header {
    color: rgba(255, 255, 255, .64);
  }

  h4.beta-invite {
    color: rgba(255, 255, 255, .64);
    text-align: left;
    font-size: 20px;
    font-family: 'PT Sans', cursive;
  }

  h6.pane-details-header {
    font-size: 22px;
  }

  h6.large.pane-details-header {
    font-size: 38px;
  }

  p.paragraph {
    font-family: 'Roboto', cursive;
  }

  p.paragraph.subscribe-header {
    margin-top: 0;
    text-align: left;
    font-size: 26px;
  }

  span.text-element.step-header {
    top: auto;
    right: -120px;
    left: auto;
  }

  span.text-element {
    font-family: 'Roboto', cursive;
  }

  span.text-element.sub-slogan {
    font-size: 19px;
  }

  span.text-element.text-2 {
    color: rgba(231, 231, 231, .87);
    text-align: center;
  }

  .container-grid.detail-section {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    max-width: none;
  }

  .container-grid.hero-image-component {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }

  .container-grid.page-title-component {
    padding-bottom: 30px;
  }

  button.btn {
    padding: 16px 24px;
    font-size: 20px;
  }

  .container-grid.container-1 {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  .container-grid.pitch-component {
    margin-right: auto;
    margin-left: auto;
  }

  .container-grid.animation-step {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .container-grid.signup-component {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  .container-grid.hero-overlay {
    padding-left: 0;
  }

  .container-grid.hero-section {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .container-grid.app-overview {
    margin-top: 40px;
  }
}

@media screen and (min-width: 62.0625rem) {
  /* Text Elements */

  span.text-element.step-header {
    right: -260px;
  }

  .container-grid.detail-section {
    max-width: 740px;
  }

  div.responsive-picture.hero-image {
    margin-right: auto;
    margin-left: auto;
    max-width: 96%;
  }

  .container-grid.start-component {
    -webkit-transform: translateY(120px);
       -moz-transform: translateY(120px);
         -o-transform: translateY(120px);
            transform: translateY(120px);
  }

  div.responsive-picture.pane-detail {
    margin-right: auto;
    margin-left: auto;
  }

  .container-grid.detail-intro {
    margin-top: 180px;
  }

  .container-grid.animation-steps-list {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container-grid.container-2 {
    background-color: #1b1b1b;
  }

  @supports (display: grid) {
      .container-grid.app-overview {
      grid-template-columns: repeat(3 , 1fr);
      grid-template-areas: 'trigger-pane triggers motion-pane' 'trigger-pane motions motion-pane' '. . .';
    }

    div.responsive-picture.trigger-pane {
      grid-area: trigger-pane;
    }

    .container-grid.detail-intro {
      margin-top: 180px;
    }
  }
}

@media screen and (min-width: 75.0625rem) {
  .container-grid.detail-section {
    border-radius: 4px;
  }

  .container-grid.hero-image-component {
    border-radius: 4px;
  }

  .container-grid.beta-phase {
    margin-top: 40px;
  }

  @supports (display: grid) {
      .container-grid.app-overview {
      margin-right: auto;
      margin-left: auto;
      max-width: 1280px;
    }

    div.responsive-picture.hero-image {
      max-width: 1480px;
    }
  }
}